.card {
    padding: 0.5rem;
}

.card:hover {
    font-size: 15px;
}

.card-body {
    padding: 0.5rem 0.5rem 0 0.5rem;
    text-align: center;
    font-size: 13px;
}

.img-box {
    position: relative;
    width: 50%;
    margin: 0.5rem auto 0.5rem auto;
    padding-top: 50%;
}

.card-img-top {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    width: 100%;
}