---
layout: default
title: Experience
navbar_title: CV
permalink: /cv/experience/
---

<div class="resume-layout mt-3">

    <main class="resume-main">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">

                {% if site.data.experience.experience %}
                <section id="experience" class="resume-section">
                    <h6>Experience</h6>
                    <ul class="list-unstyled mb-1">
                        {% for item in site.data.experience.experience %}
                        <li class="media mb-1">
                            <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                            <div class="media-body">
                                <div>{{ item.name }}</div>
                                <div class="small">{{ item.dept }}</div>
                                <div class="small d-flex">
                                    <div>{{ item.position }}</div>
                                    <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
                {% endif %}

                {% if site.data.experience.education %}
                <section id="education" class="resume-section">
                    <h6>Education</h6>
                    <ul class="list-unstyled mb-1">
                        {% for item in site.data.experience.education %}
                        <li class="media mb-1">
                            <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                            <div class="media-body">
                                <div>{{ item.name }}</div>
                                <div class="small">{{ item.dept }}</div>
                                <div class="small d-flex">
                                    <div>{{ item.position }}</div>
                                    <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
                {% endif %}

                {% if site.data.experience.awards %}
                <section id="awards" class="resume-section">
                    <h6>Honours & Awards</h6>
                    <ul class="list small pl-3 mb-1">
                        {% for item in site.data.experience.awards %}
                        <li>
                            <div class="d-flex">
                                <div>{{ item.name }}</div>
                                <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
                {% endif %}

            </div>
        </div>
    </main>

    <aside class="resume-nav">
        <nav id="resume-nav">
            <a class="nav-link" href="#experience">Experience</a>
            <a class="nav-link" href="#education">Education</a>
            <a class="nav-link" href="#awards">Honours &amp; Awards</a>
        </nav>
    </aside>
</div>