fa-icon {
    font-size: 50px;
}

.item {
    height: 100px;
}

.item:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(30, 18, 77, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(30, 18, 77, 1);
    box-shadow: 10px 10px 5px 0px rgba(30, 18, 77, 1);
    background-color: #007bff;
    z-index: 100;
}

.item:hover a {
    color: white;
}