<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top mb-5 shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="{{ '/' | relative_url }}"><strong>{{site.data.profile.navbar_name}}</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="font-size: 1em; padding: 0.5em;">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        {% for item in site.data.navigation.pages %}
          {% if item.children %}
            <li class="nav-item dropdown">
              <a class="nav-link {% if page.url == item.url %}active{% endif %} dropdown-toggle" href="{{ item.url | relative_url }}" id="navbarDropdown{{ forloop.index }}"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ item.name }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{ forloop.index }}">
                {% for child in item.children %}
                  <li><a class="dropdown-item {% if page.url == child.url %}active{% endif %}" href="{{ child.url | relative_url }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="nav-item {% if item.name == page.navbar_title %}active{% endif %}">
              <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
