<script src="../../assets/js/image_carrousel.js"></script>

<section class="homepage">

    <aside class="gallery">

        <div class="gallery-track">

            {% for hero in site.data.profile.hero_figs %}
            <div class="art"><img src="{{ hero.src}}" alt=""></div>
            <br>
            {% endfor %}

        </div>

    </aside>

    <div class="intro">

        <!-- <h2>Quote</h2> -->

        <div class="text-profile-bio" {% if site.data.profile.short_bio_text_justify %}style="text-align: justify;"{% endif %}>
            {{ site.data.profile.short_bio }}
        </div>

    </div>

</section>